@model UserInformationViewModel

<div class="col-xl-3 col-lg-4 col-md-5 mb-md-0 mb-4">
    <div class="ui-sticky ui-sticky-top">
        <div class="profile-user-info py-3 ui-box bg-white">
            <div class="profile-detail">
                <div class="d-flex align-items-center">
                    <div class="profile-avatar me-3">
                        <img src="@(Model.ImageName != null ? PathExtension.UserAvatarThumb+Model.ImageName:PathExtension.DefaultAvatar)" alt="avatar">
                    </div>
                    <div class="profile-info">
                        <a href="#" class="text-decoration-none text-dark fw-bold mb-2">
                            @Model.FullName
                        </a>
                        <div class="text-muted fs-7 fw-bold">
                            @(Model.Mobile ?? "شماره همراه ثبت نشده است")
                        </div>
                    </div>
                </div>
                <div class="user-options">
                    <ul>
                        <li>
                            <span class="label">کیف پول</span>
                            <span class="detail">
                                <span class="d-block">@Model.WalletBalance.ToString("#,0") <span class="currency fs-7 fw-bold">هزار تومان</span></span>
                                <a href="#" class="link border-bottom-0 text-info fs-7 fw-bold">
                                    افزایش
                                    موجودی <i class="ri-arrow-left-s-line"></i>
                                </a>
                            </span>
                        </li>
                        <li>
                            <span class="label">باشگاه مشتریان</span>
                            <span class="detail">
                                <span class="d-block">@Model.Score <span class="score text-muted fs-7">امتیاز</span></span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="nav nav-items-with-icon flex-column">
                <li class="nav-item">
                    <a class="nav-link" asp-area="UserPanel" asp-controller="UserPanel" asp-action="index">
                        <i class="nav-link-icon ri-user-line"></i> اطلاعات
                        حساب
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="UserPanel" asp-controller="UserPanel" asp-action="EditUser">
                        <i class="nav-link-icon ri-user-line"></i>
                        ویرایش حساب
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="UserPanel" asp-controller="Ticket" asp-action="Index">
                        <i class="nav-link-icon ri-file-list-3-line"></i>
                       تیکت ها
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="UserPanel" asp-controller="Wallet" asp-action="Index">
                        <i class="nav-link-icon ri-file-list-3-line"></i>
                        کیف پول
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="UserPanel" asp-controller="Order" asp-action="Index">
                        <i class="nav-link-icon ri-file-list-3-line"></i>
                        سبد خرید
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="UserPanel" asp-controller="Order" asp-action="PurchasedProducts">
                        <i class="nav-link-icon ri-file-list-3-line"></i>
                        محصول های خریداری شده
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="Logout">
                        <i class="nav-link-icon ri-logout-box-r-line"></i>
                        خروج
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
